:root {
    --clr-light-blue: rgb(135, 206, 235);
    --clr-lightest: white;
    --clr-mid: #555;
    --clr-green: rgb(4, 167, 167);
    --clr-dark: #333;
    --clr-darker: #222;
    --clr-darkest: black;
    --clr-warning: red;
    --clr-orange: orange;
    --clr-transparent: transparent;
    --highlight: var(--clr-light-blue);

    --header-footer-border: var(--clr-green);

    /* Dark theme (default) */
    --body-bg: var(--clr-darker);
    --body-txt: var(--clr-lightest);
    --header-footer-bg: var(--clr-darkest);
    --header-footer-txt: var(--clr-lightest);
    --theme-icon: var(--clr-lightest);
    --theme-txt: var(--clr-lightest);
    --main-icon-fill: var(--clr-darkest);
    --main-icon-stroke: var(--clr-lightest);
}

.light-theme {
    --body-bg: var(--clr-lightest);
    --body-txt: var(--clr-darkest);
    --header-footer-bg: var(--clr-lightest);
    --header-footer-txt: var(--clr-darkest);
    --theme-icon: var(--clr-orange);
    --theme-txt: var(--clr-darkest);
    --main-icon-fill: var(--clr-lightest);
    --main-icon-stroke: var(--clr-darkest);
}
